<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List authors</title>
  </head>
  <body>
    <form method="get">
      {% csrf_token %}
      <input type="text" name="name" id="name" placeholder="author name" />
      <input type="submit" value="search" />
    </form>
    <ul>
      {% for book in books %}
      <li>
        {{book.title}} - {% for a in book.author.all %}
          **{{a.name}}
        {% endfor %}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>